<ion-header [translucent]="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="activeSegment">
    <solid-map *ngSwitchCase="'map'" [activeSegment]="activeSegment" (segmentHasChanged)="segmentChanged($event)" [providerGroups]="providerGroups"></solid-map>
    <solid-provider-list *ngSwitchCase="'list'" [activeSegment]="activeSegment" (segmentHasChanged)="segmentChanged($event)" [providerGroups]="providerGroups"></solid-provider-list>
  </ng-container>
</ion-content>
