ion-list {
  height: 100%;

  .image {
    height: 35%;
  }

  .location {
    border: 1px solid var(--ion-color-primary);
    font-size: .9rem;
    border-radius: 15px;
    color: var(--ion-color-primary);
    display: flex;
    padding: 5px 10px;

    ion-label {
      margin-left: 5px;
    }
  }

  .info {
    font-size: 0.7rem;
  }

  .crop-list {

    span {
      padding-top: 10px;
      display: block;
      float: left;
      text-align: center;
      font-size: 1rem;
      margin: 0 10px;
    }

  }
}
